.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr 2fr;
    gap: 10px;
}

.grid-item{
    background-color: rgb(225, 0, 255);
    font-size: 25px;
    border: 3px, solid blue;
}

.grid-item:nth-child(5) {
    grid-column: span 2;
    background-color: lightblue;
}

.grid-item:nth-child(8) {
    grid-row: span 2;
    background-color: lightgreen;
}
